<%
# SET CATEGORY
%>
<style>
/* .admin-menu{display: none;} */
</style>
<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#" class="category-selector">all</a> 
    <% Mediafile.distinct.pluck(:category).each do |uniq| %>
    <li><a class="category-selector" href="#<%= uniq %>"><%= uniq %></a> </li>
    <% end %>

  </li>
</ul>


<h2>All Media</h2>

<div id="detailWrapper">

</div>
<br style="clear:both;">
<div style="padding:15px;">
  <div id="galleryListItems" class="row">
    <% @mediafiles.each do |mediafile| %>
    <div class="col-sm-4 padding-0 categoryItem <%= mediafile.category %>">

         <gallery-element 
        alttext="<%= mediafile.altText %>" 
        imgurl="<%= mediafile.imgUrl %>" 
        category="<%= mediafile.category %>" 
        description="<%= mediafile.description %>"
        >
      </gallery-element>

<!-- 
  <%= mediafile.altText %>
  <div class="content"><%= mediafile.description %></div>
-->
<% if logged_in? %>
<div class="admin-menu text-center" style="padding:10px;">
	<!-- admin menu: -->
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
   <!--   <%= link_to 'Show', mediafile_path(mediafile), :class=>'btn btn-default' %> -->
   <%= link_to 'Edit', edit_mediafile_path(mediafile), :class=>'btn btn-default' %>
   <%= link_to 'Delete', mediafile_path(mediafile), method: :delete, :class=>'btn btn-default', data:{confirm: 'Are you sure you want to delete this?'} %>
 </div>
</div>
<% end %>

 

</div>
<% end %>
</div>
</div>
<hr>
<% if logged_in? %>
<div class="text-center">
<%= link_to 'Create new mediafile', new_mediafile_path, :class => 'btn btn-primary', :id => 'create_new' %>
</div>
<% end %>

<script>
function testFn(jsonObj){
 console.log('testFn for: ' + jsonObj.imgurl);
}
function showDetail(str){
 alert('showDetail FN val: '+str);
}

$(".category-selector").click(function(e){
 $(".category-selector").closest('li').removeClass('active');
 $(this).closest('li').addClass('active');
 e.preventDefault();
 var activeCat = $(this).text();
 $('#detailWrapper').empty();
 console.log('set cat to: '+ activeCat );
 $(".categoryItem").each(function(i){
  if($(this).hasClass(activeCat) || activeCat == 'all'){
   $(this).hide().fadeIn();
 }else{
   $(this).hide();
 }
});

});

$('gallery-element').click(function(){
  var activeObj = {};
  activeObj.alttext=this.alttext;
  activeObj.imgurl = this.imgurl;
  activeObj.description = this.description;
  activeObj.category = this.category;
  activeObj.theme = this.theme;
  console.log('main dom active el clicked: '+activeObj.alttext);
  $("#detailWrapper").empty().append('<detail-element alttext="'+activeObj.alttext+'" imgurl="'+activeObj.imgurl+'" category="'+activeObj.category+'" description="'+activeObj.description+'" theme="'+activeObj.theme+'"  ></detail-element>');
});


</script>